profiles {
    lims {
        params {
            max_memory = 396.GB
            max_cpus = 96
            max_time = '24.h'
        }
        executor {
                name              = 'slurm'
                queueSize         = 50
                pollInterval      = '10 sec'
                killBatchSize     = 30
                submitRateLimit   = '10 min'
            }
        process {
            time = { check_max( 1.h   * task.attempt, 'time'    ) }
            queue = 'day'
            scratch = 'tmp/nextflow_work/$SLURM_JOBID'
            withLabel:process_low {
                time   = { check_max( 1.h   * task.attempt, 'time'    ) }
                queue = 'short'
            }
            withLabel:process_medium {
                time   = { check_max( 8.h   * task.attempt, 'time'    ) }
                queue = 'day'
            }
            withLabel:process_high {
                time   = { check_max( 8.h  * task.attempt, 'time'    ) }
                queue = 'day'
            }
            withLabel:process_long {
                time   = { check_max( 20.h  * task.attempt, 'time'    ) }
                queue = 'day'
            }
        }
    }
    modules {
        process {
            // Module loading
            withName: SAMPLESHEET_CHECK                          { module = 'python-gcc7/3.6.8'                 }
            withName: GET_SOFTWARE_VERSIONS                      { module = 'python-gcc7/3.6.8'                 }
            withName: FASTQC                                     { module = 'fastqc/0.11.9'                     }
            withName: MULTIQC                                    { module = 'multiqc/1.9'                       }
            withName: TRIMGALORE                                 { module = 'trimgalore/0.6.3'                  }
            withName: HISAT2_ALIGN                               { module = 'hisat-gcc/2.1.0:samtools-gcc7/1.9' }
            withName: 'HISAT2_BUILD||HISAT2_EXTRACTSPLICESITES'  { module = 'hisat-gcc/2.1.0'                   }
            withName: 'SAMTOOLS_.*'                              { module = 'samtools-gcc7/1.9'                 }
            withName: SUBREAD_FEATURECOUNTS                      { module = 'subread-gcc/1.6.0'                 }
            withName: 'STRINGTIE*'                               { module = 'stringtie-gcc/1.3.5'               }
            withName: COLLATE_TPM                                { module = 'python-gcc7/3.6.8'                 }
            // Lower max time for favourable slurm priority
        }
    }
}