/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'SAMPLESHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
}

// params {
//     modules {
//         'cat_fastq' {
//             publish_dir     = 'fastq'
//         }
//         'fastqc' {
//             args            = '--quiet'
//         }
//         'multiqc' {
//             args            = ''
//         }
//         'trimgalore' {
//             args            = '--fastqc'
//             publish_files   = ['txt':'', 'html':'fastqc', 'zip':'fastqc']
//         }
//         'hisat2_build' {
//             publish_dir     = 'genome/index'
//         }
//         'hisat2_align' {
//             args            = '--met-stderr --new-summary --dta'
//             publish_files   = ['log':'log']
//         }
//         'samtools_sort_genome' {
//             suffix          = '.sorted'
//             publish_files   = [:]
//             publish_dir     = "${params.aligner}"
//         }
//         'samtools_index_genome' {
//             args            = ''
//             suffix          = '.sorted'
//             publish_files   = ['stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
//             publish_dir     = "${params.aligner}"
//         }
//         'subreads_featurecounts' {
//             args            = '--primary'
//         }
//         'stringtie' {
//             args            = ''
//         }
//     }
// }